@import "bootstrap";

#cloth {
  height: 1000px;
}

#filter {
    z-index: 1;
}

#filterModal .modal-footer {
    justify-content: center;
}

@include media-breakpoint-down("md") {
  #filter {
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
  }
}

// @include media-breakpoint-down("lg") {
//   #filter {
//     top: 200;
//   }
// }
