@import "bootstrap";

#cloth {
  height: 1000px;
}

#filter {
    z-index: 5;
}

#filterModal .modal-footer {
    justify-content: center;
}

@include media-breakpoint-down("md") {
  #filter {
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
  }

  .cloth-row {
      margin-top: 70px;
  }
}

@include media-breakpoint-up("md") {
  .filter-lg-fixed-top {
      position: fixed;
      top: 145px; 
      width: 72%;
      z-index: 5;
  }

    .cloth-row {
      margin-top: 70px;
  }
}

@include media-breakpoint-down("sm") {
    .cloth-col {
        flex: 0 0 33%;
    }
}
